:root {
  --color-primary: #000000;
  --color-main-background: #ffffff;
  --color-secondary: #d9d9d9;
  --color-lighter-secondary: #f2f2f2;
  --color-accent: #0065fc;
  --color-lighter-accent: #deebff;

  --font-raleway: "Raleway", sans-serif;
  --font-small: 1rem;
  --font-big: 1.375rem;
  --font-regular: 400;
  --font-bold: 700;
}

body {
  font-family: var(--font-raleway);
  font-size: var(--font-small);
  font-weight: var(--font-regular);
  color: var(--color-primary);
}

a:visited {
  color: var(--color-primary);
}

.h1 {
  font-size: var(--font-big);
  font-weight: var(--font-bold);
}
