:root {
  /* COLOR VARIABLES */
  --color-primary: #000000;
  --color-main-background: #ffffff;
  --color-secondary: #d9d9d9;
  --color-lighter-secondary: #f2f2f2;
  --color-accent: #0065fc;
  --color-lighter-accent: #deebff;
  /* FONT VARIABLES */
  --font-raleway: "Raleway", sans-serif;
  --font-small: 1rem;
  --font-big: 1.375rem;
  --font-regular: 400;
  --font-bold: 700;
}

body {
  font-family: var(--font-raleway);
  font-size: var(--font-small);
  font-weight: var(--font-regular);
  color: var(--color-primary);
  margin: 0;
  padding: 0;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a,
a:visited {
  color: var(--color-primary);
  text-decoration: none;
}

h1 {
  font-size: var(--font-big);
  font-weight: var(--font-bold);
}

h3 {
  font-size: var(--font-small);
  line-height: 1rem;
}

.filters__title {
  font-size: 1.3rem;
}

/* NAVBAR */

.navbar {
  background-color: var(--color-main-background);
  width: 90%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.navbar__logo {
  width: 3.81rem;
  height: 1.19rem;
}

.navbar__links {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
}

.navbar__links a {
  margin-right: 3.5rem;
  color: var(--color-primary);
  text-decoration: none;
  cursor: pointer;
}

.navbar__links a:hover {
  color: var(--color-accent);
  padding-top: 1.5rem;
  border-top: solid 2px var(--color-accent);
}

/* SEARCH & FILTERS */

.search {
  padding-left: 3.44rem;
}

.searchbox {
  display: flex;
  align-items: center;
  width: 50rem;
}

.searchbox__locationicon {
  height: 1.1rem;
  width: 0.9rem;
  background: var(--color-lighter-secondary);
  padding: 1rem 1.1rem;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
}

.searchbox input {
  width: 15.625rem;
  height: 2.95rem;
  border: 1px solid #f2f2f2;
  border-right: none;
  padding-inline: 1rem;
}

.searchbox__button {
  background-color: var(--color-accent);
  font-weight: var(--font-bold);
  border: none;
  color: white;
  border-radius: 0px 15px 15px 0px;
  padding: 15px 15px;
  cursor: pointer;
}
.search__logo {
  display: none;
}

.filters {
  padding-left: 3.5rem;
  padding-top: 1rem;
}

.filters__buttons {
  font-weight: var(--font-bold);
  list-style: none;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.filters__buttons li {
  margin-left: 1rem;
  margin-bottom: 1rem;
  display: flex;
  padding: 0.6rem 1.5rem;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.filters__buttons li:hover {
  background-color: var(--color-lighter-accent);
}

.filters__icons {
  height: 1.375rem;
  width: 1.375rem;
  padding-right: 0.7rem;
}

.info {
  display: flex;
  align-items: center;
  padding-left: 4rem;
}

.info__logo {
  display: inline;
  height: 0.625rem;
  width: 0.313rem;
  border: 2px solid #d9d9d9;
  border-radius: 40px;
  padding: 0.5rem 0.65rem;
  margin-right: 1rem;
}

/* HOUSING & POPULAR CONTAINERS */

.wrapperone {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.maincontainer,
.secondarycontainer {
  margin-top: 1.5rem;
  background-color: var(--color-lighter-secondary);
  border-radius: 20px;
  padding: 1.5rem 1.2rem;
}

.maincontainer {
  width: 55%;
  min-width: 39rem;
  max-width: 49.063rem;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.secondarycontainer {
  width: 30%;
  min-width: 19rem;
  display: flex;
  flex-direction: column;
}

.container__title {
  width: 100%;
  height: fit-content;
}

.secondarycontainer__title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.secondarycontainer__icon {
  width: 1.125rem;
  height: 0.984rem;
  margin-left: 7rem;
}

/* INDIVIDUAL CARD STYLING */

.maincard,
.secondarycard {
  background-color: var(--color-main-background);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0.2rem 0.2rem;
}

.maincard {
  width: 30%;
  height: 11rem;
  line-height: 0.3rem;
}

.maincard__textwrapper {
  margin-left: 0.5rem;
}

.maincard__image {
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  width: 100%;
  height: 50%;
}

.secondarycard {
  width: 95%;
  height: 9rem;
  display: flex;
  line-height: 0;
  margin-bottom: 1rem;
}

.secondarycard__wrapper {
  display: flex;
  flex-direction: column;
}

.secondarycard__textwrapper {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.secondarycard_image {
  object-fit: cover;
  width: 40%;
  height: 100%;
  border-radius: 20px 0 0 20px;
}

.mainstarwrapper {
  margin-left: 0.5rem;
}

.secondarystarwrapper {
  margin: 1rem 0;
}

.staricons {
  height: 12px;
  width: 12px;
}

/* ACTIVITIES IN MARSEILLE WRAPPER & CARDS */

.wrappertwo {
  display: flex;
  width: 100%;
  gap: 0.8rem;
  justify-content: space-evenly;
}

.tallcard {
  width: 30%;
  max-width: 15rem;
  height: 25.625rem;
  margin-top: 1rem;
  border-radius: 20px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.2);
}

.tallcard__title {
  margin-top: 2.5rem;
  padding-left: 2rem;
}
.tallcard__image {
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  width: 100%;
  height: 85%;
}

.tallcard h3 {
  margin-left: 1rem;
}

/* FOOTER STYLING */

footer {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}
.footer {
  background-color: var(--color-lighter-secondary);
  height: auto;
  width: 80%;
  padding: 2rem 15rem;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  line-height: 2rem;
}

.footer ul {
  list-style-type: none;
  margin: 0;
}
.footer--bold {
  font-weight: var(--font-bold);
}

/* TABLET MEDIA QUERIES */

@media screen and (max-width: 1024px) {
  h3 {
    font-size: 0.9rem;
  }
  .search {
    padding-left: 1.5rem;
  }
  .search__logo {
    display: none;
  }
  .search__text {
    padding: 0;
  }

  .filters {
    padding-left: 1.5rem;
  }

  .wrapperone {
    width: 95%;
    flex-direction: column;
    align-items: center;
  }
  .maincontainer {
    width: 95%;
    gap: 1rem;
  }
  .secondarycontainer {
    width: 95%;
  }
  .secondarycard {
    max-width: 15.5rem;
    height: 9rem;
    margin-right: 1rem;
    line-height: 0.8rem;
    font-size: 0.9rem;
  }

  .secondarycontainer__icon {
    width: 1.125rem;
    height: 0.984rem;
    margin-left: 36rem;
  }

  .wrappertwo {
    margin-top: 0;
    justify-content: space-evenly;
    gap: 0;
    width: 95%;
  }

  .secondarycard_wrapper {
    width: 100%;
    flex-direction: row;
  }

  .tallcard {
    max-height: 19rem;
    width: 22%;
    height: auto;
    padding-bottom: 0.7rem;
  }

  .tallcard__title {
    width: fit-content;
  }

  .tallcard h3 {
    margin-top: 0.4rem;
  }

  .footer {
    padding: 2rem 5rem;
  }
}

/* MOBILE MEDIA QUERIES */

@media screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  ul {
    padding: 0;
  }

  .h1 {
    width: fit-content;
  }

  /* MOBILE NAVBAR */

  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    padding: 0 0 1.5rem 0;
    border-bottom: solid 2px var(--color-lighter-secondary);
  }

  .navbar__links {
    margin: 0 0 0 0;
    padding: 0;
  }

  .navbar__logo {
    margin: 0;
    padding: 0 0 2rem 0;
  }

  .navbar__links a:hover {
    color: var(--color-accent);
    padding: 0 0 1.5rem 0;
    border-bottom: solid 2px var(--color-accent);
    border-top: none;
  }

  .search {
    padding: 1rem;
    width: 80%;
  }
  .searchbox {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .searchbox input {
    width: 50%;
  }

  .searchbox .search p,
  .filters__title {
    margin-left: 0.5rem;
  }

  .search__text {
    display: none;
  }

  .search__logo {
    width: 17px;
    height: 17px;
    display: block;
  }

  form {
    display: flex;
    flex-direction: row;
  }

  .filters {
    padding-inline: 1rem;
    width: 70%;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .filters__buttons li {
    font-size: 0.7rem;
    padding: 0rem;
    border-radius: 43px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 44%;
    height: 2.625rem;
    margin-left: 0.5rem;
  }

  .info {
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    width: 70%;
  }

  /* MOBILE FIRST WRAPPER */

  .wrapperone {
    width: 100%;
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
  }

  .maincontainer {
    background-color: var(--color-main-background);
    width: 90vw;
    min-width: 0;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  .secondarycontainer {
    background-color: var(--color-lighter-secondary);
    height: auto;
    width: 100vw;
    padding: 0;
    border-radius: 0;
    min-width: initial;
  }

  .secondarycontainer__icon {
    margin-left: 2rem;
  }

  .secondarycontainer__title {
    padding: 0.5rem 1rem;
  }

  .maincard {
    width: 85%;
    height: 13.5rem;
    margin-bottom: 1rem;
  }

  .secondarycard__wrapper {
    flex-direction: column;
    width: 100%;
  }

  .secondarycard {
    width: 90%;
    height: 9rem;
    max-width: 23.9rem;
    margin-left: 1rem;
  }

  /* MOBILE SECOND WRAPPER */

  .wrappertwo {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 95%;
  }

  .tallcard {
    width: 85%;
    height: 13.9rem;
    max-width: none;
    margin-bottom: 1rem;
  }
  /* MOBILE FOOTER */

  footer {
    width: 100%;
  }

  .footer {
    flex-direction: column;
    padding: 2rem 0rem 1rem 3rem;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .footer ul {
    margin: 0 0 1rem 0;
  }
}
